@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

@font-face {
  font-family: 'stn';
  src: url('skhematique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(255, 255, 255);
}

.top {
  z-index: 5;
  position: absolute;
  top: 0rem;
  width: 100%;
  align-items: center;
  padding: 1rem;
  background: url('Screenshot_from_2024-06-09_17-26-34-removebg-preview.png');
  background-size: fill;
  background-repeat: no-repeat;
  height:9rem;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  flex-wrap: wrap;
  overflow: hidden;
}
section::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 225, 255, 0.815) 50%, rgba(0, 255, 255, 0) 100%);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: ripple 3s linear infinite;
}

@keyframes ripple {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 3000px;
    height: 3000px;
    opacity: 0;
  }
}

section span {
  position: relative;
  display: block;
  width: calc(2vw - 2px);
  height: calc(2vw - 2px);
  background: rgb(255, 255, 255);
  z-index: 1;
  transition: 1.5s;
  border-radius: 8px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  box-shadow: 0 -1 1px rgba(0, 0, 0, 0.4);
}

section span:hover {
  background:  rgba(0, 225, 255, 0.815);
  transition: 0s;
}

section .signin {
  position: absolute;
  width: 90%;
  max-width: 400px;
  max-height: 400px;
  background: #ffffff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.63));
}

section .signin .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.63));
}

section .signin .content h2 {
  font-size: 1.5rem;
  color:  rgb(0, 225, 255);
  text-transform: uppercase;
}

section .signin .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

section .signin .content .form .inputBox {
  position: relative;
  width: 100%;
}

section .signin .content .form .inputBox input {
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 1.5rem 0.5rem 0.5rem;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}

section .signin .content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 1rem 0.5rem;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i {
  transform: translateY(-0.5rem);
  font-size: 0.8rem;
  color: #fff;
}

.signin .content .form .links {
  display: flex;
  justify-content: space-between;
}

.signin .content .form .links a {
  color: #000000;
  text-decoration: none;
}

.signin .content .form .links a:nth-child(2) {
  color:  rgba(0, 225, 255, 0.815);
  font-weight: 600;
}

.signin .content .form .inputBox input[type="submit"] {
  padding: 0.5rem;
  background: rgba(0, 225, 255, 0.815);
  color: #ffffff;
  font-weight: 600;
  font-size: 1.35rem;
  letter-spacing: 0.05em;
  cursor: pointer;
}

input[type="submit"]:active {
  opacity: 0.6;
}

.radio-inputs {
  position: absolute;
  display: flex;
  width: 100%;
  border-radius: 0.5rem;
  top: 8rem;
  background-color: rgb(0, 225, 255);;
  box-sizing: border-box;
  font-size: 14px;
  padding: 1rem 1rem 0 1rem;
  z-index: 2000;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.8rem;
  color: black;
  transition: all 0.15s ease-in-out;
  position: relative;
}

.radio-inputs .radio input:checked + .name {
  background-color: #ffffff;
  font-weight: 600;
}
.radio-inputs .radio input + .name:hover {
  color: #ffffff;
}
.radio-inputs .radio input:checked + .name:hover {
  color: #1d1d29;
}

.radio-inputs .radio input:checked + .name::after,
.radio-inputs .radio input:checked + .name::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 225, 255, 0.692);
  bottom: 0;
}

.radio-inputs .radio input:checked + .name::after {
  right: -10px;
  border-bottom-left-radius: 300px;
  box-shadow: -3px 3px 0px 3px #ffffff;
}
.radio-inputs .radio input:checked + .name::before {
  left: -10px;
  border-bottom-right-radius: 300px;
  box-shadow: 3px 3px 0px 3px #ffffff;
}
@media (max-width: 1200px) {
  .top{
    height: 18rem;
    background-size: fill;
    background-repeat: no-repeat;
  }
  .radio-inputs {
    top: 13rem;
  }
  section span {
    width: calc(5vw - 2px);
    height: calc(5vw - 2px);
  }
  section .signin{
    max-width: 40rem;
    max-height: 190rem;
  }
  section .signin .content h2 {
    font-size: 1.25rem;
  }

  section .signin .content .form .inputBox input {
    padding: 2rem 0.5rem 0.5rem;
  }
}

@media (max-width: 600px) {
  .top{
    height: 9rem;
    background-size: cover;
  background-repeat: no-repeat;
  }
  .radio-inputs {
    top: 8rem;
  }
  section span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
  section .signin{
    max-width: 40rem;
    max-height: 40rem;
  }
  section .signin .content h2 {
    font-size: 1rem;
  }

  section .signin .content .form .inputBox input {
    padding: 2.3rem 0.5rem 0.5rem;
  }
}
